<i (click)="close()" class="dialog-close-btn bi bi-x-lg"></i>
<div class="dialog-container">
    <div class="center">
        <h2>Esqueci minha senha</h2>
    </div>

    <br>

    @if (!service.getEmailHasBeenSend()) {
        <form class="user-data-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
                @let email = "email";
                <label>Email:</label>
                <input type="email" [formControlName]="email" placeholder="email@exemplo.com" />

                @if (fieldHasError(email, errorRequired)) { <small>Insira um email.</small> }
                @if (fieldHasError(email, errorEmail)) { <small>Insira um email válido.</small> }
                @if (service.getErrorSendingEmail()) { <small>Ocorreu um erro no envio, verifique se o email esta correto.</small> }
            </div>

            <br>
            <br>
            <button style="margin-bottom: 20px;" type="submit" [disabled]="form.invalid">Enviar Email de Recuperação</button>
        </form>
    }
    @if (service.getEmailHasBeenSend()) {
        <div class="col centered">
            <div class="icon success">
                <i class="bi bi-check-circle-fill"></i>
            </div>
            <h2>Email enviado com sucesso!</h2>
            <p>Cheque sua caixa de entrada e acesse o link em 15 minutos, verificando aba spam caso necessário.</p>
            <br>
            <button class="form-btn" (click)="close()">Ok</button>
        </div>
    }
</div>