<i (click)="close()" class="dialog-close-btn bi bi-x-lg"></i>
<div class="dialog-container">
    @if (!service.getPasswordResetError() && !service.getPasswordResetSuccess() ) {
        <div>
            <h2>Cadastre sua nova senha</h2>
        </div>  

        <br>
        <form class="user-data-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
                @let password = 'password';
                <label>Senha:</label>
                <input type="password" [formControlName]=password placeholder="senha" />

                @if (fieldHasError(password, errorRequired)) { <small>Insira uma senha.</small> }
                @if (fieldHasError(password, errorMinLength)) { <small>Insira uma senha válida.</small> }
                @if (fieldHasError(password, errorPasswordValid)) { <small>Senha deve ter no mínimo sete caracteres, uma letra maiuscula, um número e um símbolo.'.</small> }
            </div>

            <button style="margin-top: 20px; margin-bottom: 20px;" type="submit" [disabled]="form.invalid">Login</button>
        </form>
    }
    @else {
        <div class="col centered">
            @if (service.getPasswordResetSuccess()) {
                <div class="icon success">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <h2>Processo finalizado!</h2>
                <p>Sua senha foi alterada com sucesso</p>
            }
            @if (service.getPasswordResetError()) {
                <div class="icon failure">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
                <h2>O processo falhou!</h2>
                <p>Tente novamente, ou repita todo o processo</p>
            }

            <br>
            <button class="form-btn" (click)="close()">Ok</button>
        </div>
    }
</div>