:root {
    --font-size--10: 0.65rem;
    --font-size--12: 0.75rem;
    --font-size--14: 0.875rem;
    --font-size--16: 1rem;
    --font-size--18: 1.125rem;
    --font-size--20: 1.25rem;
    --font-size--24: 1.5rem;
    --font-size--32: 2rem;
    --font-size--40: 2.5rem;
    --font-size--48: 3rem;
    --font-size--56: 3.5rem;
    --font-size--64: 4rem;

    --font-weight--thin: 100;
    --font-weight--extra-light: 200;
    --font-weight--light: 300;
    --font-weight--normal: 400;
    --font-weight--medium: 500;
    --font-weight--semi-bold: 600;
    --font-weight--bold: 700;
    --font-weight--extra-bold: 800;
    --font-weight--black: 900;

    --spacing-08: 0.5rem;
    --spacing-16: 1rem;
    --spacing-18: 1.5rem;
    --spacing-24: 2rem;
    --spacing-32: 2.5rem;
    --spacing-40: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;

    --color--primary-01: #28282B;
    --color--primary-02: #8080a5;
    --color--primary-03: #ffffff;

    --color--secondary-01: #6495ED;
    --color--secondary-02: #2196f3;
    --color--secondary-03: #888;
    --color--secondary-04: #007bff;
}